/*--------Variables-------*/
:root{
    /*Colors*/
    
    --color-main: #66d3f1;
    --color-main-dark:#56ade2;
    --color-secondary: #102F53;
    --color-secondary-dark: #0C2440;

    --color-white: #fff;
    --color-white-transparent: rgba(255, 255, 255, 0.5);
    --color-grey: #dedede;
    --color-black: #000;
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-disabled:#999999;
    --color-error:#c5171f;
    --color-error-hover:#a81119;
    --color-health:#b42b32;
    --color-exp: #66d3f1;
    --color-emph:#138109;
    
    --color-start:#fff;
    --color-start-dark:#dedede;

    --color-common:#5ffc38;
    --color-rare:#1a6aff;
    --color-unique:#ffd016;
    --color-mythic:#c125f5;
    
    /*Typography*/
    --type-main-size: 1.2rem;
    --type-main-family: "Chakra Petch", serif;
    --type-main-headings: "Orbitron", serif;

    --type-light: 400;
    --type-reg: 600;
    --type-bold: 800;
}
/*------------------------*/

/*-------Color Classes---------*/
.color-main{color:var(--color-main);}
.color-main-dark{color:var(--color-main-dark);}
.color-secondary{color:var(--color-secondary);}
.color-secondary-dark{color:var(--color-secondary-dark);}
.color-black{color:var(--color-black);}
.color-white{color:var(--color-white);}
.color-grey{color:var(--color-grey);}
.color-error{color:var(--color-error);}
.color-emph{color:var(--color-emph);}

/*Item Rarity Classes For Borders - Set Programatically*/
.common{border: 7px solid var(--color-common);}
.rare{border: 7px solid var(--color-rare);}
.unique{border: 7px solid var(--color-unique);}
.mythic{border: 7px solid var(--color-mythic);}

/*-------Screen Reader---------*/
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
    }
/*-----------------------------*/

/*------Generic-------*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
  }
.material-symbols-outlined {vertical-align:-5px;}
* {
    box-sizing: border-box;
  }

/*custom Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: transparent; 
  }
::-webkit-scrollbar-thumb {
    background: var(--color-main); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    filter: (90%); 
    cursor: pointer;
  }

html{
    height: 100%;
    overflow:hidden;
    background-color: var(--color-secondary-dark);
}
body{
    max-width: 1920px; /*-----------------------max content width*/
    min-height: 100dvh;
    height: auto;
    margin: auto;
    background-color: var(--color-secondary-dark);
    background-image: url("../assets/imgs/BGs/BG-G1.jpg");/*default*/
    background-size: cover;
}
body, p{
    /*Type*/
    font-size: var(--type-main-size);
    font-family: var(--type-main-family);
    font-weight: var(--type-reg);
    font-style: normal;
    color: var(--color-white);
}
main{
    margin:auto;
    height: auto;
    min-height: calc(100dvh - 190px);
}
p{
    margin:20px 0px;
    color: var(--color-white);
}
a{
    color: var(--color-white);
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}
a:hover img, a:hover .material-symbols-outlined{
    text-decoration: none !important;
}
section{
    width:95dvw; /*-----------------------section width*/
    max-width:100%; /*--------------------max section width = to body*/
    margin: auto;
}
nav, footer{
    background-color: var(--color-black-transparent);
    position: fixed;
    color: var(--color-white);
    text-decoration: none;
    min-height:80px;
    width:100%;
    max-width: 1920px;
    z-index: 1000;
}
nav{
    top: 0;
}
#nav{
    visibility: visible;
}
footer{
    bottom: 0;
    z-index: 3000;
}
    /*Mobile Nav*/
    @media(max-width:575px){
        .nav-ham-menu{
            display: block !important;
            margin: .5rem 0 .5rem 0;
        }
        nav ul{
            display: none;
        }
        .nav-mobile{
            color: var(--color-main);
        }
        .nav-mobile a{
            display: block;
            padding: .75rem;
            height: 100%;
            width: 100%;
            color: var(--color-main);
            font-size: 1rem;
        }
        .nav-mobile a:visited{
            color: var(--color-main);
        }
        .nav-mobile a:hover{
            color:var(--color-white);
            text-decoration: none;
        }
        .nav-mobile li{
            margin-inline: 20px;
            display: inline-block;
            width:auto;
        }
        .nav-mobile li:last-of-type{
            border-bottom: none;
        }
        .nav-ham-btn{
            background-color: var(--color-main) !important;
            color: var(--color-secondary) !important;
        }
        .nav-ham-btn:hover{
            background-color: var(--color-white)!important;
            color: var(--color-secondary)!important;
        }
        .logo-main{
            margin: 10px 0 10px 0;
        }
    }
    /*-----*/
    
nav ul, footer ul{
    list-style: none;
    text-align: center;

}
nav li{
    margin:10px 20px;
    display: inline;
}
footer li{
    display: inline;
}
@media(max-width: 575px){
    nav li{
        display: block;
    }
}
nav a, footer a{
    color: var(--color-main);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.logo-main{
    width: 100%;
    max-width: 150px;
    color: var(--color-main);
}
.logo-main:hover{
    color: var(--color-main);
    text-decoration: underline;
}

/*-----------------------*/


/*-----BUTTONS-----*/
button, a{
    font-size: var(--type-main-size);
    font-family: var(--type-main-headings);
    font-weight: var(--type-reg);
}
button:hover, a:hover{
    cursor: pointer;
}
.btn{
    padding: .75rem 2rem;
    border: none;  
}
.btn-3d{
    box-shadow: 0 3px #000;
    border-left: solid 4px rgba(255, 255, 255, 0.35) !important;
    border-top: solid 4px rgba(255, 255, 255, 0.35) !important;
    border-right: solid 4px rgba(0, 0, 0, 0.20) !important;
    border-bottom: solid 4px rgba(0, 0, 0, 0.20) !important;

}
    .btn-3d:active{
        transform: translateY(2px);
        box-shadow: 0 1px #000;
    }
.btn-mini{
    padding: .25rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--color-black);
}
.btn, .btn-mini{
    margin: .75rem 0;
    border-radius: 100px;
    display: inline-block;
}
.btn:hover, .btn-mini:hover{
    text-decoration: none;
}
.btn-primary{
    background-color: var(--color-main);
    color: var(--color-black);
}
    .btn-primary:hover{
        background-color: var(--color-main-dark);
    }
.btn-start{
     background-color: var(--color-start);
     color: var(--color-black);
}
    .btn-start:hover{
        background-color: var(--color-start-dark);
    }
.btn-primary-ghost{
    background-color: transparent;
    color: var(--color-main);
    border: var(--color-main) solid 3px;
}
    .btn-primary-ghost:hover{
        background-color: rgba(0, 0, 0, 0.15);
        color: var(--color-main-dark);
        border: var(--color-main-dark) solid 3px;
    }
.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-secondary);
    border: var(--color-secondary) solid 3px;
}
    .btn-secondary:hover{
        background-color: var(--color-grey);
        color: var(--color-secondary-dark);
    }
.btn-warning{
    background-color: var(--color-error);
    color: var(--color-white);
}
    .btn-warning:hover{
        background-color: var(--color-error-hover);
    }
.btn-icon, .btn-close, .nav-ham-btn{
    z-index: 10000;
    background-color: var(--color-main);
    color: var(--color-black);
    padding: .5rem;
    border-radius: 1000px;
    aspect-ratio: 1;
    border:none;
}
.btn-icon:hover, .btn-close:hover{
    background-color: var(--color-main-dark);
}
.btn-close{
    position:sticky;
    left: calc(100% - 50px);
    top:0;
    margin: 0 0 .75rem 0;
}
.btn-icon-nobg{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    padding: 8px;
    margin-inline: 10px;
}
.btn-icon-nobg:hover{
    color: var(--color-grey);
}
/*-----------------*/

/*-----LINKS-----*/
.link-primary{
    color: var(--color-main);
    text-decoration: underline;

    background-color: transparent;
    border:none;
}
.link-primary:hover{
    text-decoration: none;
}

/*-----FORM INPUTS-----*/
input[type='checkbox'] {
    width:1.5rem;
    height:1.5rem;
    border:2px solid var(--color-main-dark);
}
input[type='checkbox']:checked {
    accent-color: var(--color-main);
}
input[type='checkbox']:checked:hover {
    accent-color: var(--color-main-dark);
}
/*------------------------*/

/*-----ICONS AND IMGS-----*/
.icon-required{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-error);
}
.divider{
    margin: 20px;
    border: 3px dashed var(--color-main);
    box-shadow: 0 0 5px var(--color-white);
    width: 100%;
}
.settings-divider{
    margin: 20px 0 20px 0;
    border-bottom: 2px solid var(--color-grey);
    width: 100%;
}
/*-----------------*/

/*-----TYPOGRAPHY-----*/
.txt-body{
    font-size: var(--type-main-size);
}
.txt-h1, .txt-h2, .txt-h3{
    margin:0;
    font-family: var(--type-main-headings);
    font-weight: var(--type-bold);
    line-height: 1;
}
.txt-h1{
    margin:0;
    font-size: 2.5rem;/*fallback*/
    font-size: clamp(2.4rem, 3vw, 3.2rem);
}
.txt-h2{
    margin:0;
    font-size: 2rem;/*fallback*/
    font-size: clamp(1.8rem, 2.6vw, 2.4rem);
}
.txt-h3{
    margin:0;
    font-size: 1.5rem;/*fallback*/
    font-size: clamp(1.4rem, 2.2vw, 1.8rem);
}
.txt-h4{
    margin:0;
    font-size: var(--type-main-size);
    font-family: var(--type-main-family);
    font-weight: var(--type-reg);
    font-style: normal;
}
.txt-required{
    font-style: italic;
    font-size: 1rem;
}
.txt-bold{
    font-weight: var(--type-bold);
}
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
@media (min-width: 576px){
    .txt-center-sm{text-align: center;}
    .txt-left-sm{text-align: left;}
    .txt-right-sm{text-align: right;}
}
@media (min-width: 768px){
    .txt-center-md{text-align: center;}
    .txt-left-md{text-align: left;}
    .txt-right-md{text-align: right;}
}
@media (min-width: 992px){
    .txt-center-lg{text-align: center;}
    .txt-left-lg{text-align: left;}
    .txt-right-lg{text-align: right;}
}
/*-------------------*/

/*-----------Cards -----------*/
.settingsSubContainer{
    border: var(--color-main) dashed 3px;
    border-radius: 10px;
}
.settingsSubContainer .btn-mini{
    background-color: var(--color-white);
    color: var(--color-black);
}
.settingsSubContainer .btn-mini:hover{
    background-color: var(--color-grey);
}
.modal{
    display: none;
    position: absolute;
    padding: 20px;
    margin:auto;
    z-index: 5000;
    width: 70vw;
    height:auto;
    min-height: 400px;
    max-height: 80dvh;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-secondary-dark);
    border: var(--color-main) 3px solid;
    box-shadow: 0px 0px 10px var(--color-white);
    cursor: default;
    overflow-y: scroll;
    overflow-x: hidden;

    background-image: url("../assets/imgs/BGs/BG-Menu.png");
    background-size: contain;
}
.alert-modal{
    display: none;
    position: absolute;
    padding: 20px;
    margin:auto;
    z-index: 6000;
    width: 400px;
    height:auto;
    min-height: 300px;
    max-height: 70dvh;
    max-width: 80vw;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-white);
    border: var(--color-main 3px solid);
    cursor: default;
    overflow-y: scroll;
    overflow-x: hidden;
}
.item-card{
    margin: 10px;
    color: var(--color-white);
    background-color: var(--color-secondary);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    min-height: 250px;
    height: 95%;
    overflow: hidden;
}
.item-card>i{
    padding-bottom: 10px;
}
.item-card.owned, .item-card.hidden, .item-card.equipped{
    cursor: default !important;
}
.item-card.equipped>button{
    display: none;
}
.item-card.hidden{
    cursor: default !important;
}
.item-card.owned>.item-cost, .item-card>.buy-tag, .owned-tag, .equipped-tag{
    display:none;
}
.item-card.owned>.owned-tag, .item-card.equipped>.equipped-tag, .item-card.buyable:hover>.buy-tag{
    display: block;
    background-color: var(--color-emph);
    color: var(--color-white);
    padding: 20px;
    border-radius: 0 0 7px 7px;
    text-align: center;
    width: 100%;
}
.item-card.buyable:hover{
    filter: brightness(90%);
    cursor: pointer;
}
.item-card.buyable:hover>.buy-tag{
    background-color: var(--color-main) !important;
    color: var(--color-black) !important;
}
.item-card.buyable:hover>.item-cost{
    display: none;
}
.item-card p{
    font-size: 1.6rem;
    color: var(--color-white);
}
.item-card.buyable:hover>.buy-tag, .item-card.owned>.owned-tag{
    font-size: 1.6rem;
    color: var(--color-white);
}
.item-card.hidden{
    justify-content: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
}
.item-card.hidden>*{
    display: none;
}
.item-card.hidden::before{
    text-align: center;
    font-size: 2.4rem;
    /*content: "?";*/
}
.item-card.hidden::after{
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    content: "Coming Soon";
}
.item-img{
    text-align: center;
    max-width: 250px;
    width: 100%;

}
@media(max-width: 600px){
    .modal{
        width: 100dvw;
    }
    .alert-modal{
        width: calc(100dvw - 20px);
    }
}


/*PopUps*/
/* Popup container - can be anything you want */
.popup {
    position: relative;
  }
  
  .popup .popupTxt {
    visibility: hidden;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 95%;

    font-size: .8rem;
    width: 120px;
    background-color: #171717;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
  }

  .popup .popupTxt.flash-popup{
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% {visibility: visible; opacity: 0;}
    20% {opacity:1 ;}
    80% {opacity:1 ;}
    100%{visibility:hidden; opacity:0 ;}
  }
